body {
  font-family: "Roboto";
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.radio-slider {
  display: none;
}

.page-wrapper {
  background-color: #849D8F;
}

.container {
  margin: 0 auto;
  width: 1146px;
  padding: 0 27px;
  outline: 1px solid black;
}

header {
  background-color: yellow;
}

.logo {
  float: left;
}

nav {
  width: 700px;
  float: left;
  background-color: lightblue;
}

.main-menu-point {
  display: inline-block;
}

.catalog-menu {
  display: none;
}

.header-buttons {
  width: 267px;
  float: right;
  background-color: lightblue;
}

.search,
.sign-in,
.cart-link {
  display: inline-block;
}

.search-input {
  display: none;
}

.sign-in-form {
  display: none;
}

.cart {
  display: none;
}

.work-info {
  float: right;
}

.slider-wrapper {
  margin-bottom: 38px;
  min-height: 537px;
  outline: 1px solid black;
}

.banners {
  margin-bottom: 42px;
  outline: 1px solid black;
}

.banner {
  width: 560px;
  height: 230px;
  outline: 1px solid black;
}

.banner-left {
  float: left;
}

.banner-right {
  float: right;
}

.hits {
  margin-bottom: 35px;
}

.cards-item {
  width: 267px;
  min-height: 330px;
  float: left;
  margin-right: 26px;
  outline: 1px solid black;
}

.cards-item:nth-child(4n) {
  margin-right: 0;
}

.quick-show {
  display: none;
}

.about-shop {
  margin-bottom: 41px;
  min-height: 305px;
  outline: 1px solid black;
}

.blog-and-sender {
  margin-bottom: 41px;
  outline: 1px solid black;
}

.box {
  width: 560px;
  min-height: 222px;
  outline: 1px solid black;
}

.blog {
  float: left;
}

.sender {
  float: right;
}

.map {
  box-sizing: border-box;
  height: 428px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(../img/map.jpg);
}

.main-footer {
  margin-top: 23px;
}

.social {
  width: 291px;
  margin-right: 109px;
  float: left;
  outline: 1px solid red;
}

.info-1 {
  width: 162px;
  float: left;
  outline: 1px solid black;
}

.info-2 {
  width: 293px;
  float: left;
  outline: 1px solid black;
}

.copyright {
  width: 189px;
  float: right;
  outline: 1px solid black;
}

.breadcrumbs {
  min-height: 44px;
  outline: 1px solid black;
}

.catalog-section {
  min-height: 47px;
  margin-bottom: 21px;
  outline: 1px solid black;
}

.filter {
  min-height: 154px;
  margin-bottom: 16px;
}

.form-sort,
.price-range,
.fatness {
  display: inline-block;
}

.fillers,
.form-sumbit {
  display: inline-block;
}

.goods {
  margin-bottom: 41px;
}

.pagination {
  min-height: 59px;
}

.pagination-points {
  float: right;
}

.pagination-arrow,
.pagination-point {
  display: inline-block;
}
